overflow: hidden;

.popover {
  opacity: 0.75;
}
.popover-content {
  table tr:first-child {
    td, th { border-top-style: none; }
  }
  .run-details {
    cursor: pointer;
  }
  .value {
    max-width: 75px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .popover-content {
    padding: 0;
    .chart-run-details {
      margin: 0;
      padding: .5em .25em .5em 2.75em;
      max-height: 250px;
      min-width: 100px;
      overflow-y: auto;
    }
  }
}
.btn-group-title {
  padding: 0px 3px 0px 12px;
  color: #333333;
  vertical-align: middle;
  font-size: 14px;
}

#chart-type {
  float: left;
  margin: 0px 5px 0px 0px;
  width: 100px; /* if the width is smaller than the max width it can be, shelf positioning will shift and mess up projectie placement */
}

#chart-options-container {
  display: inline-block;
  width: 100%;
}

#chart-options-projectile-container, #chart-options-background-container {
  position: absolute;
  /*height: 200px;*/
  /*width: 500px;*/
  left: -600px;
  /*top: 145\px;*/
  top: 100px;
}

#chart-options-projectiles, #chart-options-background {
  width: 480px;
  /*height: 200px;*/
  float: left;
  opacity: 0.9;
  border-radius: 4px 0px 4px 4px;
  -webkit-border-radius: 4px 0px 4px 4px;
  position: relative;
  z-index: 5;
}

#chart-options-background {
  background-color: #999;
  box-shadow: 2px 2px 5px #333;
  opacity: 0.0;
}

#chart-options-projectile-dismissal {
  height: 20px;
  background-color: red;
  position: relative;
  float: left;
  opacity: 0.0;
  z-index: 100;

  i {
    padding: 4px;
  }
}

#chart-options-projectile-dismissal:hover {
  cursor: pointer;
}

#chart-options-dropzones {
  position: relative;

  .dropzone {
    float: left;
    position: relative;
    left: -6px;
    z-index: -1;
    /*width: 50px;*/
    height: 16px;
    background-color: #999;
    opacity: 0.9;
    margin: 1px 5px 0px 0px;
    padding: 2px;
    border: 2px dashed black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
  }

  /* this needs to be before would-accept so that
  would-accept has precedence */
  .droppable-not-empty {
    background-color: #999;
    border: 2px solid black;
  }

  .droppable-would-accept {
    background-color: #ff0;
  }

  .droppable-hover {
    background-color: #ff0;
    border: 2px solid black;
  }

  .droppable-empty {
    border: 2px dashed red;
  }

  .axis-picker-btn {
    padding-right: 2px;
    padding-left: 4px;
  }
}

.projectile {
  float: left;
  /*width: 50px;*/
  height: 16px;
  background-color: black;
  margin: 4px;
  padding: 0px 4px 4px 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: white;
  text-align: center;
  position: relative;
  left: 0px;
  top: 0px;
  opacity: 0.0;
  z-index: 10;
}

.projectile:hover {
  cursor: move;
}

div#chart-body {
  position: relative;
}

div.small-multiple:last-child {
  margin-bottom: 30px;
}

#fixed-x-axis-title, #fixed-y-axis-title {
  position: fixed;
  opacity: 0;
}

#fixed-x-axis-title {
  width: 100%;
  height: 0px; /* increased to 30px in ChartView, if necessary */
  text-align: center;
  background-color: white;
}

#fixed-y-axis-title  {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#chart-options-plaintext {
  color: #777;
}
